<% @snips.each do |snip| %>
  <tr>
    <td><%= snip.name %></td>
    <td><%= link_to 'Show', snip %></td>
    <td><%= link_to 'Edit', edit_snip_path(snip) %></td>
    <td><%= link_to 'Destroy', snip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>