/* Reset Styles */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

/* Main Styles */
html, body {height:100%;}
body {font-family:'Kreon';width:100%;background:-moz-linear-gradient(top, #3f4c6b 0%, #252a3f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#252a3f));background:-webkit-linear-gradient(top, #3f4c6b 0%,#252a3f 100%);}
#wrapper {width:980px;margin:0 auto;}
#sticky-bar {position:fixed;top:-7px;width:980px;height:45px;border-radius:10px;-moz-box-shadow:0px 0px 10px #000000;box-shadow:0px 0px 10px #000000;background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));background:-webkit-linear-gradient(top, #45484d 0%,#000000 100%);}
#sticky-bar ul {overflow:hidden;}
#sticky-bar li {display:block;float:left;border-bottom-left-radius: 10px;}
#sticky-bar li a {color:#fff;text-decoration:none;display:block;padding:19px 10px 10px 10px;}
#sticky-bar #add-snip {background:-moz-linear-gradient(top, #707070 0%, #3f3f3f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#3f3f3f));background:-webkit-linear-gradient(top, #707070 0%,#3f3f3f 100%);}
#sticky-bar form {overflow:hidden;width:525px;}
#sticky-bar #snip-name {float:left;}
#sticky-bar #snippet-content {float:right;}
#sticky-bar #actions {clear:both;float:right;} 
#sticky-bar label, #sticky-bar input {display:block;}
#sticky-bar #new_snip {display:none;position:absolute;top:55px;left:14px;background:#333;padding:10px;border-radius:5px;}

#snips {padding:60px 0;overflow:hidden;}
#snips .snip {word-wrap:break-word;margin:0 30px;padding:10px;width:18%;float:left;background:#3f4c6b;border-radius:5px;-moz-box-shadow:0px 0px 3px #000;box-shadow:0px 0px 3px #000;}
#snips .snip h2 {color:#fff;font-family:'Crushed';font-weight:normal;text-transform:lowercase;font-size:1.5em;margin-bottom:13px;}
#snips .snippet {margin:0 0 15px 0;}
#snips .snippet h3 {font-weight:normal;font-size:1.2em;text-transform:lowercase;color:#D1CDCE;}
#snips .snippet a {text-decoration:none;color:#182856;}
#snips .snippet p {text-overflow: ellipsis;height:30px;-webkit-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

#overlay {position:absolute;width:100%;height:100%;background:#000;opacity:0.8;z-index:3;display:none;top:0;}
#overlay-content {width:600px;height:400px;background:-moz-linear-gradient(top, #333 0%, #000000 100%);background:-webkit-linear-gradient(top, #333 0%,#000000 100%);border-top-left-radius:10px;border-top-right-radius:2px;border-bottom-right-radius:10px;border-bottom-left-radius:3px;-webkit-box-shadow: 0px 0px 10px #5c5c5c;-moz-box-shadow: 0px 0px 10px #5c5c5c;box-shadow: 0px 0px 10px #000;position:fixed;display:none;z-index:3;overflow:hidden;}
#overlay-content a#close {position:absolute;top:-3px;right:-3px;width:20px;height:20px;border-radius:10px;text-align:center;display:block;color:#fff;text-decoration:none;font-family:Arial;}
#overlay-content .full-snip {height:350px;margin:15px;color:#fff;padding:15px;font-family:'Podkova';overflow:auto;}
#overlay-content pre {border:1px solid #444;}