/* Reset Styles */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

/* Main Styles */
html, body {height:100%;}
body {font-family:'Kreon';width:100%;background:-moz-linear-gradient(top, #3f4c6b 0%, #252a3f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#252a3f));background:-webkit-linear-gradient(top, #3f4c6b 0%,#252a3f 100%);}
#wrapper {width:980px;margin:0 auto;}
#sticky-bar {position:fixed;top:-7px;width:980px;height:45px;border-radius:10px;-moz-box-shadow:0px 0px 10px #000000;box-shadow:0px 0px 10px #000000;background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));background:-webkit-linear-gradient(top, #45484d 0%,#000000 100%);}
#sticky-bar ul {overflow:hidden;}
#sticky-bar li {display:block;float:left;border-bottom-left-radius: 10px;}
#sticky-bar li a {color:#fff;text-decoration:none;display:block;padding:19px 10px 10px 10px;}
#sticky-bar #add-snip {background:-moz-linear-gradient(top, #707070 0%, #3f3f3f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#3f3f3f));background:-webkit-linear-gradient(top, #707070 0%,#3f3f3f 100%);}
#overlay-content form {overflow:hidden;width:525px;}

#sticky-bar #new_snip {display:none;}
#sticky-bar .auth {float:right;overflow:hidden;}
#sticky-bar .auth a {float:right;}

#snips {padding:60px 0;overflow:hidden;}
#snips .new-line {clear:left;}
#snips .snip {position:relative;word-wrap:break-word;margin:10px 30px;padding:10px;width:18%;float:left;border-top-right-radius:5px;border-top-left-radius:5px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;-moz-box-shadow:0px 0px 5px #000;box-shadow:0px 0px 5px #000;}
#snips .snip .delete-snip, #snips .snip .delete-snippet {position:absolute;right:5px;top:2px;color:#959595;text-decoration:none;}
#snips .snip .delete-snippet {top:27px;}
#snips .snip:hover {background:#3f4c6b;-moz-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;}
#snips .snip h2 {color:#fff;font-family:'Crushed';font-weight:normal;text-transform:lowercase;font-size:1.5em;margin-bottom:13px;}
#snips .snippet {margin:0 0 15px 0;position:relative;background:#2a3047;border:1px solid #222;padding:10px;}
#snips .snippet h3 {font-weight:normal;font-size:1em;text-transform:lowercase;color:#D1CDCE;}
#snips .snippet a {position:absolute;right:0;top:1px;}
#snips .snippet p {color:#999;height:12px;margin-top:13px;font-size:0.8em;font-family:'Podkova';text-overflow: ellipsis;-webkit-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
#snips .new-snippet {color:#8a99c7;text-decoration:none;}

#overlay {position:absolute;width:100%;height:100%;background:#000;opacity:0.8;z-index:3;display:none;top:0;}
#overlay-content {width:600px;height:600px;background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));background:-webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);border-top-left-radius:10px;border-top-right-radius:2px;border-bottom-right-radius:10px;border-bottom-left-radius:3px;-webkit-box-shadow: 0px 0px 10px #5c5c5c;-moz-box-shadow: 0px 0px 10px #5c5c5c;box-shadow: 0px 0px 10px #000;position:fixed;display:none;z-index:3;overflow:hidden;}
#overlay-content a#close {position:absolute;top:-3px;right:-3px;width:20px;height:20px;border-radius:10px;text-align:center;display:block;color:#fff;text-decoration:none;font-family:Arial;}
#overlay-content .full-snip, #overlay-content .popup-login, #overlay-content .popup-profile {padding:15px;}
#overlay-content pre {border:1px solid #444;word-wrap:break-word;height:495px;overflow-y:scroll;}
#overlay-content h1 {font-weight:normal;text-transform:lowercase;font-size:2em;color:#000;}
#overlay-content form {width:330px;margin:20px auto 0 auto;}
#overlay-content label {display:block;margin-top:10px;color:#000;}
#overlay-content #user_session_remember_me {float:left;height:20px;width:20px;position:relative;top:4px;}
#overlay-content .remember-me {float:left;}
#user_session_submit, #user_submit {margin-top:15px;}
#overlay-content textarea {padding-left:10px;border-radius:5px;border:1px solid #999;}
.popup-profile input, .popup-login input, .full-snip input {font-size:1.2em;padding-left:10px;height:30px;width:300px;border-radius:5px;border:1px solid #999;}
.popup-profile #user_submit {margin-top:20px;}